<div class="main_container">
  <p>
    Приложение предназначено для получения частот слов / биграмм во фрагментах текстов, 
    а также term-text матрицы для выбранных слов и их словоформ. 
    Фрагменты текстов, по которым можно получить статистику - предложения, содержащие заданные 
    на вкладке "фрагменты" слова.
    Поиск словоформ работает только для русского языка, хотя получить частоты слов / биграмм / term-text матрицу
    можно и для других языков.
  </p>
  <p>
    1. На вкладке "Тексты" выберите текстовые файлы для загрузки. 
    Кодировка файла для русского языка должна быть UTF-8.
  </p>
  <p>
    2. На вкладке "Фрагменты" укажите слова, по которым будет произведена выборка предложений из
    загруженных текстов. На вкладке можно получить словоформы слов для поиска в текстах. Также можно
    экспортировать найденные предложения в txt файл.
  </p>
  <p>
    3. На вкладке "Статистика" можно получить и экспортировать в txt файл частоты слов и биграмм.
    В текстовое поле "основы биграмм" можно ввести все возможные слова, 
    которые будут первым словом найденных биграмм. Для основы биграмм можно получить словоформы
    с помощью кнопки "Морфология для биграмм". 
    На вкладке "статистика" также можно экспортировать term-text матрицу 
    с найденными словами / выборкой предложений. Термы для матрицы можно выбрать с помощью чекбокса
    "использовать". Также можно использовать словоформы терма - чексбокс "словоформы". Выбрать, 
    какие именно словоформы вы хотите использовать для матрицы, можно с помощью кнопки формы - откроется 
    модальное окно со всеми словоформами слова.
  </p>
  <p>
    P.S. По сути приложение делал для того, чтобы посмотреть, как работать с Angular, 
    проверить, какие нагрузки выдержит "клиентская часть" приложения для такого 
    рода задач (все операции кроме получения
    словоформ происходят на клиенте). Хотелось сделать больше функций, но делать их планирую в проекте
    "Иволга", где планиурется 1. сбор 2. ручная разметка (QDA) с групповой работой 
    3. автоматизация разметки на основе
    размеченного вручную 4. функции типа того, что есть в этом приложении, но в большем объеме
    5. и т.д.
  </p>
  <p>
    P.P.S. Свои пожелания и предложения по приложению прошу отправлять мне - слева внизу 
    конвертик с формой обратной связи. Или по почте: <span class="emailReplacor" (click)='showMyEmail()'>{{emailReplacor}}</span>
  </p>
  <p>
    P.P.P.S Если вдруг кому-то интересно, 
    то репозиторий приложения 
    на гитхабе <a href="https://github.com/aryumin86/SentencesExtractor" target="blank">ТУТ</a>
  </p>
</div>
