<mat-list role="list">
  <mat-list-item role="listitem">
    <a routerLink="/sentencesapp" routerLinkActive="active">Приложение</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="/about" routerLinkActive="active">О проекте</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a href='http://content-analysis.ru' target='blank'>Блог</a>
  </mat-list-item>
</mat-list>
<div class="email-button-container">
  <div class="icon" matTooltip="Обратная связь" (click)='openSendEmailModal()'>
    <mat-icon [inline]="true" color="black">mail</mat-icon>
  </div>
</div>






