.statTabMainContainer {
    margin: 1vw;
}

.settingsAndButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: max-content;
    grid-template-areas:
        'biGrammsWords maxElemsOnPage showWordsFreq minFreq . matrixExport'
        'biGrammsWords morfologyButton showBiGrammFreq removeStopWords selectAllWords freqExportButton';
    justify-content: start;
    grid-column-gap: .5vw;
}

.minFreq {
    grid-area: minFreq;
}

.biGrammsBaseInput {
    grid-area: biGrammsWords;
}

.maxElemsOnPage {
    grid-area: maxElemsOnPage;
}

.showWordsFreq {
    grid-area: showWordsFreq;
}

.showBiGrammFreq {
    grid-area: showBiGrammFreq;
}

.removeStopWords {
    grid-area: removeStopWords;
}

.matrixExport {
    grid-area: matrixExport;
}

.freqExportButton {
    grid-area: freqExportButton;
}

.morfologyButton {
    grid-area: morfologyButton;
}

.selectAllWords {
    grid-area: selectAllWords;
}


.freqExportButton, .matrixExport, .selectAllWords  {
    justify-self: end !important;
}

.settingsElem {
    display: inline-block;
}
.settingsElem >  label {
    margin-right: 1vw;
}

.statsContainer {
    
}