.statTabMainContainer {
    margin: 1vw;
}

.settingsAndButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: max-content;
    grid-template-areas:
        'biGrammsWords maxElemsOnPage showWordsFreq minFreq . matrixExport'
        'biGrammsWords morfologyButton showBiGrammFreq removeStopWords selectAllWords freqExportButton';
    justify-content: start;
    grid-column-gap: .5vw;
}

.minFreq {
    grid-area: minFreq;
}

.biGrammsBaseInput {
    grid-area: biGrammsWords;
}

.maxElemsOnPage {
    grid-area: maxElemsOnPage;
}

.showWordsFreq {
    grid-area: showWordsFreq;
}

.showBiGrammFreq {
    grid-area: showBiGrammFreq;
}

.removeStopWords {
    grid-area: removeStopWords;
}

.matrixExport {
    grid-area: matrixExport;
}

.freqExportButton {
    grid-area: freqExportButton;
}

.morfologyButton {
    grid-area: morfologyButton;
}

.selectAllWords {
    grid-area: selectAllWords;
}


.freqExportButton, .matrixExport, .selectAllWords  {
    justify-self: end !important;
}

.settingsElem {
    display: inline-block;
}
.settingsElem >  label {
    margin-right: 1vw;
}

.statsContainer {
    
}

.woFreq-card {
    margin: 5pt;
    transition: all 0.3s ease-out;
}

.woFreq-card mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.woFreq-card mat-card-content > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.woFreq-card:hover {
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
     -webkit-transform: scale(1.10, 1.10); 
    transform: scale(1.05, 1.05);
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}