<div class="statTabMainContainer">
  <div class="settingsAndButtons">
    <div class="settingsElem minFreq">
      <mat-form-field>
        <mat-label>Минимальная частота</mat-label>
        <input matInput placeholder="Введите ее!" [(value)]='minFreq'>
      </mat-form-field>
    </div>
    <div class="settingsElem maxElemsOnPage">
      <mat-form-field>
        <mat-label>Максимум элементов на странице</mat-label>
        <mat-select [(value)]='maxElemsToShowSelect' (selectionChange)='maxElemsToShowChanged($event)'>
          <mat-option value='10'>10</mat-option>
          <mat-option value='100'>100</mat-option>
          <mat-option value='500'>500</mat-option>
          <mat-option value='1000'>1000</mat-option>
          <mat-option value='5000'>5000</mat-option>
          <mat-option value='1000000'>Все</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="settingsElem showWordsFreq">
      <button mat-stroked-button [disabled]='fragments.length === 0' 
        (click)='calculateWordsFreqs()'>Показать частоты слов</button>
    </div>
    <div class="settingsElem removeStopWords">
      <input type='checkbox' value="0" checked='checked' name="clearStopWordsChB">
      <label for="clearStopWordsChB">Убрать стоп слова</label>
    </div>
    <div class="settingsElem matrixExport">
      <button mat-stroked-button [disabled]='fragments.length === 0 || wordsFreqs.length === 0'>Экспорт term-text матрицы</button>
    </div>
    <div class="settingsElem biGrammsBaseInput">
      <mat-form-field >
        <textarea [(ngModel)]='biGrammsBaseInput' rows="5" style="resize: none;"
          matInput placeholder="Основы биграмм"></textarea>
      </mat-form-field>
    </div>
    <div class="settingsElem morfologyButton">
      <button (click)='setWordForms()' mat-stroked-button [disabled]='biGrammsBaseInput.length == 0'>Морфология для биграмм</button>
    </div>
    <div class="settingsElem showBiGrammFreq">
      <button mat-stroked-button [disabled]='fragments.length === 0 || words.length === 0' 
      (click)='calculateBiGrammsFreqs()'>Показать частоты биграмм</button>
    </div>
    <div class="settingsElem freqExportButton">
      <input type='checkbox' value="0" name="checkAllElemsChB">
      <label for="checkAllElemsChB">Выбрать все</label>
      <button mat-stroked-button [disabled]='wordsFreqs.length === 0'>Экспорт частот</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row wrap" class="statsContainer">
    <div *ngFor="let woFreq of wordsFreqs; let i = index;">
      <mat-card class="woFreq-card" *ngIf="woFreq.freq >= minFreq">
        <mat-card-header>
          <mat-card-title>{{woFreq.content}}: {{woFreq.freq}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div>
            <input type='checkbox' value="0" checked='checked' name="useWordFormForMatrixChB">
            <label for="useWordFormForMatrixChB">Использовать</label>
          </div>
          <div>
            <input type='checkbox' value="0" checked='checked' name="wordFormsChB">
            <label for="wordFormsChB">Словоформы</label>
          </div>
        </mat-card-content>
          <mat-card-actions>
          <button mat-stroked-button (click)='deleteWordFreq(woFreq.id)'>Грохнуть</button>
          <button mat-stroked-button>Формы</button>
        </mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>

